.Footer {
    height: 4%;
    background: #828282;
    opacity: 0.6;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 0 0.5%;
    bottom: 0.5%;
    position: absolute;
    width: 99%;
}