.Header {
    height: 54px;
    background: #828282;
    opacity: 0.6;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 0 0.5%;
    top: 0.5%;
    position: absolute;
    width: 99%;
    display: flex;
    z-index: 1;
}


.signup-in-icon {
    background-color: white;
    height: 42px;
    margin: 5px;
    border-radius: 25px;
}

.signout-icon {
    background-color: white;
    height: 42px;
    margin: 5px;
}