.summary-card {
    background: #E4E4E4;
    border-radius: 10px;
    width: 300px;
    height: 300px;
    font-size: 0.75em;
    margin: 18px 0 0 18px;
    display: flex;
    flex-direction: column;
}

.info-header {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: space-between;
}

.avatar-container {
    padding: 10px;
    display: flex;
    align-items: center;
}

.avatar {
    width: 45px;
    height: 45px;
}

.appt-time-container {
    display: flex;
    align-items: center;
    padding: 0 15px 0 0;
}

.summary-appt-time {
    font-size: 18px;
    margin: 0;
    font-size: 22px;
}

.patient-details {
    font-size: 12.5px;
}

.summary-data-container {
    height: 50%;
}

.info-footer {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    text-align: left;
}

.alert-title {
    display: flex;
}

.alerts {
    display: flex;
}

.alert-title  h4 {
    width: 100%;
    margin: 0;
    color: red;
}

.alert-title  p {
    width: 100%;
    margin: 0;
}
